/*! section - cards carousel */
#cards-carousel > .container {
    display: flex;
    justify-content: center;
    
}
.slide-container {
    max-width: auto;
    width: 90%;
    /*? propiedades para que las tarjetas desborden fuera del div.container */
    /* min-width: 122%;
    translate: 130px; */
}
.slide-content {
    margin: 0 0px;
    padding-bottom: 100px;
}
.card {
    border: 1px solid #000000;
    border-radius: 12px;
    /* background-color: aliceblue; */
}
.card .card-body h3 {
    padding: 12px;
    text-align: center;
}
.card-image {
    position: relative;
    height: 600px;
    /* width: 340px; */
    /* height: auto; */
    width: auto;
    border-radius: 12px 12px 0 0;
    background-color: #D0D2DB;
}
.card-title {
    color: #ebe70b;
    background-color: #000000;
    margin: 0 !important;
    padding: 24px 0 !important;
    border-radius: 0 0 12px 12px;
}
.card-image .card-img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
    border-radius: 12px;
}
.swiper-navBtn {
    color: #ffffff !important;
    transition: color 0.3s ease;
    /* margin-top: -100px !important; */
}
.swiper-navBtn:hover {
    color: #000000 !important;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 40px !important;
}
.swiper-button-next {
    right: 0 !important;
}
.swiper-button-prev {
    left: 0 !important;
}
/*! section - cards carousel */